<div class="card text-center">
    <div class="card-header">
        I'm Partial Title
    </div>
    <div class="card-block">
        I'm Partial body<br />
        I'm Partial body<br />
    </div>
    <div class="card-footer">
        I'm Partial footer
    </div>
</div>
<div class="form-group has-success">
    <input class="form-control" />
</div>
